
    .box{
      padding:10px;  
      border-bottom: 3px solid #dddddd;
      margin: 0px;
    }
    .btn-container{
      margin:40px;
    }
    #save{
      width:40%;
    }
 img{
        margin:0px auto;
      }
.col-xs-6{
        text-align: left;
      }
nav{
        border:none;
   }
.arrow{
        float: right;
      }

    .disp{
      color: #7d7d7d;
    }
    #price,#total,#amount{
      color: red;
    }

      #undefined{
    font-size: 10px;
    color:#7d7d7d;
  }
  .empty-box{
    margin:50px auto;
  }